# 기본 라이브러리
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.4.2

# URL 분석 관련
requests==2.32.3
beautifulsoup4==4.12.3
tldextract==5.1.3

# 로그 및 경고 관리
urllib3==2.2.3

# JSON 출력이나 텍스트처리에 필요한 추가 패키지
lxml==5.2.2
